{% extends "base.twig" %}

{% block title %}Logbook{% endblock %}

{% block content %}
    <h1>Logbook</h1>

    <p> Please click below link for simple form example for adding a logbook</p>

    <a href="logbooks/create">Create New Logbook</a>
{% endblock %}
