{% extends "base.twig" %}

{% block title %}Logbook{% endblock %}

{% block content %}
    <h1>Logbook</h1>
    <p class="important">
        Welcome to my awesome logbook {{ name }}.
    </p>
{% endblock %}
