{% extends "base.twig" %}

{% block title %}Logbook{% endblock %}

{% block content %}
    <h1>Login</h1>

    <ul>
        {% for error in errors %}
            <li>{{ error.message }}</li>
        {% endfor %}
    </ul>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
